// VARIABLES
//------------------------------------------------
//------------------------------------------------

// Color
$background-alert-success: #1ABC9C;
$background-alert-error: #EF5C54;

// Typography
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
$base-font-family: 'Open Sans', sans-serif;
$base-font-size: 13px;

$font-light: 300;
$font-regular: 400;
$font-semi-bold: 600;
$font-bold: 700;

// Animations
$base-duration: 300ms;
$base-timing: ease;