// VARIABLES DARK
//------------------------------------------------
//------------------------------------------------
$gray-darker: #141414;
$gray-dark: #404040;
$white: #ffffff;

$compiler-color: $white;
$compiler-background: $gray-darker;
$compiler-border-color: rgba($white, 0.15);
$compiler-border: 1px solid $compiler-border-color;
$compiler-hover: rgba($white, 0.06);
$compiler-active: rgba($white, 0.10);

$background-code: $gray-darker;
