// Style
// -----------------------------------------------------
#wrapper {
    padding-left: 0;
    @include transition(all 0.5s ease);
    &.toggled {
        padding-left: 250px;
    }
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    @include transition(all 0.5s ease);
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    .nav {
        background: #fff;
        max-height: 76px;
        a {
            padding: 26px 15px;
            display: block;
            &:hover {
                text-decoration: none;
            }
            i {
                font-size: 18px;
            }
        }
        ul {
            padding: 0;
            margin: 0;
            li {
                list-style: none;
                display: inline-block;
                span {
                    margin-left: 10px;
                    font-size: 14px;
                }
            }
        }
    }
    section {
        background: #fff;
        margin: 30px;
        @include border-radius(2px);
        padding: 30px;
        a {
            &:hover,
            &:focus {
                text-decoration: none;
            }
        }
        a:focus {
            outline: 0;
        }
        // Code
        // -----------------------------------------------------
        pre {
            padding: 0;
            font-size: ($font-size-base - 2);
            background: rgba($pre-bg, 0.6);
            border-radius: ($border-radius-base / 2);
            margin-top: 20px;
            @media screen and (min-width: $screen-md-min) {
                margin-top: 0;
            }
            code {
                font-size: inherit;
                color: inherit;
                white-space: pre-wrap;
                background-color: transparent;
                border-radius: 0;
            }
            .hljs {
                padding: $line-height-computed;
                background: none;
            }
        }
    }
    .header-link {
      float: left;
      font-size: 20px;
      line-height: 1;
      margin-left: -20px;
      margin-top: 4px;
      opacity: 0;
      padding-right: 0;
      transition: opacity 0.2s ease, color 0.2s ease;
    }
    h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover {
        .header-link {
            opacity: 1;
        }
    }
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    > li {
        line-height: 40px;
        margin-bottom: 8px;
        > a {
            padding: 0 24px;
            display: block;
            text-decoration: none;
            color: rgba(255, 255, 255, 0.7);
            &.active {
                padding-left: 21px;
                color: #fff;
                i {
                    @include rotate(90deg);
                }
            }
            &:hover {
                text-decoration: none;
                color: #fff;
                background: rgba(255, 255, 255, 0.2);
            }
            &:active,
            &:focus {
                text-decoration: none;
            }
            > span {
                float: right;
                > i {
                    @include transition(0.4s);
                }
            }
        }
        ul {
            padding: 0;
            margin: 0;
            li {
                list-style: none;
                a {
                    color: rgba(255, 255, 255, 0.7);
                    display: block;
                    padding: 0 24px 0 40px;
                    &:hover,
                    &:active {
                        text-decoration: none;
                        color: #fff;
                    }
                }
            }
        }
    }
    .active {
        display: block;
    }
    > .sidebar-brand {
        font-size: 17px;
        margin-bottom: 16px;
        a {
            padding: 20px 24px;
            color: #fff;
            .brand-wrapper {
                position: relative;
                width: 36px;
                height: 36px;
                background: url('../img/sidebar_brand.png') no-repeat;
                @include image-2x('../img/sidebar_brand2x.png',
                36px,
                36px);
                span {
                    position: absolute;
                    top: 0;
                    left: 42px;
                    z-index: 30;
									  white-space: nowrap;
                }
            }
        }
    }
}

@media (min-width: 768px) {
    #wrapper {
        padding-left: 250px;
        &.toggled {
            padding-left: 0;
        }
    }
    #sidebar-wrapper {
        width: 250px;
    }
    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }
    #page-content-wrapper {
        position: relative;
    }
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
