// Features Header
// -----------------------------------------------------

.features {
  display: flex;
    padding: 80px 0 80px 0;

    .feature-item {
      text-align: center;
      flex: 1;
      margin-right: ($base-point * 3);
      &:last-child {
        margin-right: 0px;
      }
      .first-feature-icon-wrapper,
      .second-feature-icon-wrapper,
      .third-feature-icon-wrapper,
      .fourth-feature-icon-wrapper
      {
          margin-top: 0;
          margin-bottom: ($base-point * 3);
          width: 70px;
          height: 70px;
      }

      .first-feature-icon-wrapper {
        background: url('../img/first_feature_icon.png') no-repeat;
      }
      .second-feature-icon-wrapper {
        background: url('../img/second_feature_icon.png') no-repeat;
      }
      .third-feature-icon-wrapper {
        background: url('../img/third_feature_icon.png') no-repeat;
      }
      .fourth-feature-icon-wrapper {
        background: url('../img/fourth_feature_icon.png') no-repeat;
      }
    }
}

.jumbotron-features {
  background: none;
}

.masthead-top {
  @include flexbox;
  @include align-items(center);
}

.masthead-text {
  @include flex(1 1 75%);
  position: relative;

  margin-right: ($base-point * 3);
}

.masthead-brand {
  text-align: center;

  @include flex(1 1 25%);
}

.main-logo-wrapper {
    position: relative;
    background: url('../img/navbar_main_brand.png') no-repeat;
}

// Responsive mode
@include bp(medium) {
  .features {
    @include flex-wrap(wrap);

    .feature-item {
      @include flex(0 0 50%);

      margin-right: 0;
      margin-bottom: ($base-point * 5);
      padding: 0;
    }
  }

  .masthead-top {
      @include flex-wrap(wrap);
        }

      .masthead-text,
      .masthead-brand {
        @include flex(0 0 100%);

        text-align: center;
      }

      .masthead-text {
        @include order(2);
      }

      .masthead-brand {
        @include order(1);
      }
}

@include bp(small) {
  .features {
    @include flex-wrap(wrap);

    .feature-item {
      @include flex(0 0 100%);

      margin-right: 0;
      margin-bottom: ($base-point * 5);
      padding: 0;
    }
  }
}
