// Base
// -----------------------------------------------
// -----------------------------------------------
// Body, html
// -----------------------------------------------

body {
  margin: 0;
  font-size: $font-size-base;
  color: $text-color;
  background: $white-color;
  font-family: $font-family;
}

a {
  color: $brand-secondary;
  text-decoration: none;
}

.container {
  max-width: $content-width;
  margin: 0 auto;
  padding: 0 ($base-point-grid * 3);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $title-font-family;
  position: relative;
}

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.3rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1.1rem;
}


@keyframes bg-gradient {
  0% {
    background-position: 50%;
  }

  36% {
    background-position: 60%;
  }

  40% {
    background-position: 80%;
  }

  50% {
    background-position: 40%;
  }

  66% {
    background-position: 15%;
  }

  100% {
    background-position: 50%;
  }
}
