// Buttons
// ----------------------------------------------
// ----------------------------------------------
.button {
  display: block;
  background: none;
  border: none;
  outline: none;
  text-decoration: none;
  position: relative;

  &:hover {
    cursor: pointer;
  }

  > img {
    vertical-align: bottom;
  }

   &.link-like {
     font-size: $font-size-base;
     text-transform: none;
     color: $text-color;
     font-family: $title-font-family;
     padding: 0;

     &:hover, &:focus {
       text-decoration: none;
       box-shadow: 0 2px $text-color;
     }
   }
}

.close {
  height: 28px;
  position: absolute;
  left: 0;
  top: 0;
  width: 32px;

  &::after,
  &::before {
    background-color: #fff;
    content: " ";
    height: 100%;
    left: 98%;
    position: absolute;
    top: 34%;
    width: 2px;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}
