// Main
// -----------------------------------------------
// -----------------------------------------------

.home {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#site-main {
  background-color: $light-background-color;
  font-family: $font-family;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &.page-site-main {
    flex: 1 0 auto;
  }

  .main-content {
    flex: 1 0 auto;
    padding: ($base-point-grid * 6) 0;
  }

  a {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}

#content {
  p {
    line-height: 22px;
  }
  ul {
    padding-left: $base-point-grid * 2;
    li {
      line-height: $base-point-grid * 4;
      padding-left: $base-point-grid;
    }
  }
}
