// Page Navbar
// -----------------------------------------------
// -----------------------------------------------

.page {
  height: 100%;
  display: flex;
  flex-direction: column;

  #navigation {
    background: linear-gradient(160deg, transparent 66%, darken($brand-primary, 9%) 97%), linear-gradient(130deg, darken($brand-primary, 6%), $brand-primary 16%);
    background-position: center;
    background-size: 200% 100%;
    animation: bg-gradient 12s ease infinite;

    a {
      color: $white-color;
    }

    button.link-like {
      color: $white-color;

     &:hover, &:focus {
       box-shadow: 0 2px $white-color;
     }
    }

    .dropdown-content {
      background: $brand-primary;
    }

    .page-icon-wrapper {
      width: 36px;
      height: 36px;
      background: url("../img/light-sidebar-brand.svg") no-repeat;
      margin-right: $base-point-grid;
    }
  }
}

.page-site-main {
  padding: ($base-point-grid * 5) 0;

  .use {
    flex: 1 1 auto;
  }
}
