// Page Navbar
// -----------------------------------------------
// -----------------------------------------------

.page {
  height: 100%;
  display: flex;
  flex-direction: column;

  #navigation {
    background: $brand-primary;

    a {
      color: $white-color;
    }

    .page-icon-wrapper {
      width: 36px;
      height: 36px;
      background: url("../img/light-sidebar-brand.svg") no-repeat;
      margin-right: $base-point-grid;
    }
  }
}

.page-site-main {
  padding: ($base-point-grid * 5) 0;

  .use {
    flex: 1 1 auto;
  }
}
