// Variables
// -----------------------------------------------
// -----------------------------------------------
// Typography
// -----------------------------------------------
@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Hind:400,500,600&display=swap');

$font-family:       'Open Sans', sans-serif;
$title-font-family: 'Hind', sans-serif;
$code-font-family:  'Fira Mono', monospace;
$font-size-base:    15px;
$font-size-large:   ceil(($font-size-base * 1.35));    // 22px
// Colors
// -----------------------------------------------
$text-color: #333;
$light-background-color: rgba($brand-primary, 0.05);
$sidebar-active-color: lighten($brand-primary, 2%);
$sidebar-head-active-color: lighten($brand-primary, 4%);
$code-bg: rgba($brand-primary, 0.10);
// Sizes
// -----------------------------------------------
$base-point-grid: 8px;
$footer-font-size: 14px;
$top-bar-size: $base-point-grid * 8;
$sidebar-width: 290px;
$masthead-description: 750px;
$horizontal-menu-height: 44px;
$feature-item-height: 240px;
// Content wrapper
// -----------------------------------------------
$content-width: 980px;
// Tables
// -----------------------------------------------
$table-cell-padding:            8px;
$table-condensed-cell-padding:  5px;
$table-bg:                      transparent;
$table-bg-accent:               #F9F9F9;
$table-bg-hover:                #F5F5F5;
$table-bg-active:               $table-bg-hover;
$table-border-color:            #DDD;
$text-muted:                    #E3E2E3;
$line-height-computed:          20px;
$state-success-bg:              #dff0d8;
$state-info-bg:                 #d9edf7;
$state-warning-bg:              #fcf8e3;
$state-danger-bg:               #f2dede;
$line-height-base:              1.428571429;
$body-bg:                       $white-color;
// Breakpoint
$bp-small: 480px;
$bp-medium: 768px;
$bp-large: 992px;
$bp-xlarge: 1130px;
