// COMPILER
//------------------------------------------------
//------------------------------------------------
.compiler-kazari {
	position: relative;
	font-family: $base-font-family;
	font-size: $base-font-size;
	border: none;
	box-sizing: border-box;
	@include border-radius (0, 0, 2px, 2px);

	&.compiler-kazari-background {
		background: $compiler-background;
	}

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		@include display(flex);
		@include align-items(center);
		@include justify-content(flex-start);

		li {
			&.compiler-kazari-border {
				border-right: $compiler-border;
			}
			a {
				font-weight: $font-semi-bold;
				display: inline-block;
				text-decoration: none;
				padding: 5px 14px;
				transition: background $base-duration $base-timing;
				cursor: pointer;

				&.compiler-kazari-color {
					color: $compiler-color;
				}

				i {
					margin-right: 4px;
				}
				&:hover {
					background: $compiler-hover;
				}
				&:active {
					background: $compiler-active;
				}
			}
			.compiling-kazari {
				color: rgba($compiler-color, 0.5);
				background: $compiler-hover;
				pointer-events: none;
			}
			&:last-child {
				margin-left: auto;
				border-right: none;
				a {
					color: rgba($compiler-color, 0.5);
					transition: all $base-duration $base-timing;
					&:hover {
						color: $compiler-color;
						background: none;
						text-decoration: underline;
					}
				}
			}
		}
	}
}

.alert-kazari {
	padding: 7px 10px;
	color: $white;
	font-size: $base-font-size;
	font-family: monospace;
	box-sizing: border-box;
	transition: all $base-duration $base-timing;
}

.alert-hidden-kazari {
	display: none;
}

.alert-success-kazari {
	background: $background-alert-success;
}

.alert-error-kazari {
	background: $background-alert-error;
}
