// Base
// -----------------------------------------------
// -----------------------------------------------
// Body, html
// -----------------------------------------------

body {
  color: $brand-primary;
  background: $background-color;
  font-family: $font-family;
}

a {
  color: $link-color;
  text-decoration: none;
}

.container {
  max-width: 920px;
}
