// Navbar
// -----------------------------------------------
// -----------------------------------------------

#navigation {
  background: $white-color;
  padding: 12px 0;
  font-family: $title-font-family;

  a {
    color: $background-color;
  }

  .navbar-wrapper {
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    .navigation-brand {
      font-size: 18px;

      .brand {
        display: inline-flex;
        align-items: center;

        &:hover {
          background: none;
        }

        .icon-wrapper {
          width: 46px;
          height: 34px;
          background: url("../img/new-style/navbar-brand.svg") no-repeat;
          margin-right: $base-point-grid;

          span {
            font-weight: 500;
            white-space: nowrap;
          }
        }
      }
    }

    .navigation-menu {
      li:last-child {
        margin-left: ($base-point-grid * 3);
      }
      li {
        display: inline-block;
        list-style: none;

        a {
          &:focus,
          &:hover {
            border-bottom: 2px solid;
          }

          i {
            font-size: 21px;
            margin-right: 6px;
          }
        }
      }
    }
  }
}
