// Navbar
// -----------------------------------------------
// -----------------------------------------------

#navigation {
  background: $white-color;

  a {
    color: $brand-secondary;
  }

  .navbar-wrapper {
    z-index: 20;
    display: flex;
    align-items: center;
    padding: ($base-point-grid * 5) 0;
    justify-content: space-between;
    position: relative;

    .navigation-brand {
      font-size: ($font-size-large - 1);

      .brand {
        display: inline-flex;
        align-items: center;

        .icon-wrapper {
          width: 44px;
          height: 44px;
          background: url("../img/navbar_brand.png") no-repeat;

          span {
            white-space: nowrap;
          }
        }
      }
    }

    .navigation-menu {
      li:last-child {
        margin-left: ($base-point-grid * 3);
      }
      li {
        display: inline-block;
        list-style: none;

        a {
          padding: 0 ($base-point-grid * 2);

          &:focus,
          &:hover {
            opacity: 0.5;
          }

          i {
            font-size: 21px;
            margin-right: 6px;
          }
        }
      }
    }
  }
}
