name: Auto Approve bot PRs

on:
  pull_request

jobs:
  auto-approve:
    runs-on: ubuntu-latest
    steps:
    - uses: hmarr/auto-approve-action@v2.0.0
      if: github.actor == 'developer47deg'
      with:
        github-token: "${{ secrets.GITHUB_TOKEN }}"
